body {
  margin: 0px;
  padding 0px;
}
header {
  min-height: 400px;
  height: 700px;
  height: 100vh;

}
section {
  padding: 40px 0px 40px 0px;
}
.section-head {
  margin-top: 30px;
}
p {
  font-family: Nunito;
  text-align: justify;
}
.text-arial {
  font-family: Nunito;
}
.upper-case {
  text-transform: uppercase;
}
.main-text {
  font-size: 16px;
}
header::after {
  content: "";
  background: url(http://walpix.net/image.php?id=4807&width=1280&height=720&crop=crop);
  background-size: cover;
  height: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
h1 {
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  color: black;;
}
.menu-button {
  font-size: 40px;
  color: black;
  margin: 20px;
  height: 30%;
  text-align: right;
}
.underscored {
  margin-bottom: 100px;
}
.underscored::after {
  content: "";
  background-color: #777;
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: absolute;
    width: 150px;
}
#my-photo {
  width: 60%;
}

.intro-contacts > p {
  text-align: center;
}
.social-buttons, .icons {
  font-size: 40px;
  
}
.social-buttons > a {
  text-decoration: none;
  margin-right: 10px;
}

/* -- RESUME BLOCK -- */

.section-resume {
  background-color: #f7f7f7;
}
.works-head, .right-alligned  {
  text-align: right;
}
.resume-icons {
  font-size: 40px;
}
.work-container {
  border-right: 1px solid #aaa;
}
.resume-text-block {
  margin-top: 30px;
}
/* -- PORTFOLIO BLOCK -- */
.portfolio {
  background-color: #222;
  color: white;
}
.project {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -- CONTACTS BLOCK -- */
.contacts {
  letter-spacing: 2px;
}
.contacts-block {
  margin-bottom: 30px;
}

label, input, textarea {
  display: block;
}
input, textarea {
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
}
label {
  margin-bottom: 30px;
}

.required {
  color: #D55126;
  margin-right: 10px;
}
/* -- FOOTER -- */
.hidden-link {
  text-decoration: none;
  color: #fff;
}
footer {
  
  margin-top: 20px;
  background-color: #222;
  color: white;
}
footer > p {
  font-size: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
@media screen and (orientation: landscape){
  header {
    height: 100vmin;
  }
}
@media screen and (orientation: landscape) and (max-height: 300px) {
  .menu-button {
    display: none;
  }
  header {
    height: 100vmin;
  }
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 40px;
    padding: 0px 20px 0px 20px;
  }
  .intro-contacts {
  margin-top: 15px;
}
  .work-container, .study-container, .right-alligned, .works-head, .resume-text-block > p {
    text-align: center;
  }
  .study-container {
    margin-top: 100px;
  }
  .work-container {
    border-right: none;
  }
  .work-container::after {
  content: "";
  background-color: #777;
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: absolute;
    width: 150px;
  }
  .social-buttons {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .intro-contacts {
  margin-top: 15px;
}
.work-container, .study-container, .right-alligned, .works-head, .resume-text-block > p {
    text-align: center;
  }
  .study-container {
    margin-top: 100px;
  }
  .work-container {
    border-right: none;
  }
  .work-container::after {
  content: "";
  background-color: #777;
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: absolute;
    width: 150px;
  }
  .social-buttons {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 900px) {
  
}